.player{
    width: 300px;
     display: flex;
     align-items: center;
     border-bottom-left-radius: 50px;
     border-top-left-radius: 50px;

     font-size: 18px;
    span{
      font-size: 32px;
      margin-left: 18px;
     }

     background-color: rgba(75, 75, 75, 0.9);
    img {
        width: 74px;
        height: 74px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.player-active{
    background-color: orange !important;
}