<app-player *ngFor="let player of game.players; let i = index;" 
    [ngStyle]="{'top.px': 50 + (i * 100) }" [name]="player"
    [playerActive]="i == game.currentPlayer"
       class="player-position hide-mobile"></app-player>

    <div class="scroll-container hide-desktop">
<app-player-moblie *ngFor="let player of game.players; let i = index;" 
    [name]="player"
    [playerActive]="i == game.currentPlayer"
        ></app-player-moblie>
    </div>
  
<div class="field">

    <div class="card-stack">
        <!-- card stack -->
         <img *ngFor="let c of [ 0, 1, 2, 3]; let i = index;" [ngStyle]="{'right.px': i * 5 }"
         src="./assets/playing_cards/card_cover.png">
         <img (click)="takeCard()"  class="top-card" style="right: 25px;" 
            src="./assets/playing_cards/card_cover.png" >
 

            <!-- Stack for played cards -->
            <img *ngFor="let card of game.playedCards" class="played-card" src="./assets/playing_cards/{{ card }}.png" alt="">

            <!-- current card (Animation) -->
            <img (click)="takeCard()" *ngIf="game.pickCardAnimation" class="pick-card" style="right: 25px;" 
            src="./assets/playing_cards/{{ game.currentCard }}.png" >

    </div>
</div>
<app-game-info [card]="game.currentCard" class="pin-bottom"></app-game-info>

     <button mat-fab color="primary" (click)="openDialog()" class="btw-add">
         <mat-icon>add</mat-icon>
     </button>



